.checkbox {
    position: relative;
    display: flex;
    padding: 10px 30px;
    font-size: 16px;
    margin: 3px 0;
    cursor: pointer;
}

.checkbox-input {
    display: none;
    margin-right: 5px;
}

.checkbox .checkMark {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.4);
}

.checkbox .checkMark::after {
    content: "";
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    top: 1px;
    border-radius: 50%;
    left: 1px;
}

.checkbox-input:checked~.checkMark {
    border-color: #ff514e;
}

.checkbox-input:checked~.checkMark::after {
    background-color: #ff514e;
}